mixin btn(textContent, type, classType, mixes, isLink)
  if (isLink)
    a.btn(class=(classType) && `${classType}` class=(mixes) && `${mixes}__btn` href='#')= textContent
  else
    button.btn(class=(classType) && `${classType}` class=(mixes) && `${mixes}__btn` type=(type) ? `${type}` : 'button')= textContent